<!DOCTYPE html>
<html lang="en" x-data>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>School of Destiny International</title>

    <!-- TailwindCSS + DaisyUI -->
    <link rel="stylesheet" href="/css/main.css">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

    <!-- HTMX -->
    <script src="https://unpkg.com/htmx.org@1.9.4"></script>

    <!-- Alpine.js -->
    <script src="https://unpkg.com/alpinejs" defer></script>
  </head>
  <body class="mb-8">
    {{> navbar}}   <!-- was: <%- include("../components/navbar") %> -->

    <div class="px-2 pt-8">
      {{{body}}}   <!-- was: <%- body %> -->
    </div>
  </body>
</html>
